*{
    font-display: swap !important;
    font-family: "Poppins", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 400 !important;
    scrollbar-width: none !important;
}

body{
    margin: 0;
}

.semiBold{
    font-weight: 500 !important;
}

.cardMediaSize{
    height: 18vh;
    object-fit: fill !important;
}

.carrouselAspectRatioSize{
    width: 80vw;
}

.fullWidthImg{
    width: 90vw;
}

.opacityBrands{
    margin-top: .5rem;
    opacity: 20%;
    width: 100% !important;
}

.transformScale{
    transition: all .4s ease-in-out !important;
}

.transformScale:hover{
    transform: scale(1.1) !important;
}


@media (width >= 820px){
    .cardMediaSize{
        height: 14vh;
    }
    .carrouselAspectRatioSize{
        width: 40vw;
    }
}

@media (width >= 1200px){
    .fullWidthImg{
        width: 50vw;
    }
    .cardMediaSize{
        height: 20vh;
    }
    .carrouselAspectRatioSize{
        width: 30vw;
    }
    .marginForDesktop{
        padding-left: 10vw !important;
        padding-right: 10vw !important;
    }
    .opacityBrands{
        width: 70%;
    }
}