*{
    scrollbar-width: none;
}

body{
    margin: 0;
}

.cardMediaSize{
    height: 18vh;
    object-fit: fill !important;
}

.carrouselAspectRatioSize{
    width: 80vw;
}

.fullWidthImg{
    width: 90vw;
}


@media (width >= 820px){
    .cardMediaSize{
        height: 14vh;
    }
    .carrouselAspectRatioSize{
        width: 40vw;
    }
}

@media (width >= 1200px){
    .fullWidthImg{
        width: 50vw;
    }
    .cardMediaSize{
        height: 20vh;
    }
    .carrouselAspectRatioSize{
        width: 30vw;
    }
    .marginForDesktop{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}